.bg-header{
	background-color: #0080b2
}

.w100{
	width: 100%
}

/*SPACE LEFT*/
.nml-10{
	margin-left: 10px
}


/*SPACE TOP*/

.nmt-10{
	margin-top: 10px
}

.nmt-39{
	margin-top: 39px;
}

/*COLOR TEXT*/

.text-white{
	color: white;
}

.text-default{
	color: #424242;
}

.text-red{
	color: #a21e1e;
}

.stitle{
	font-size: 2.2em;
}

/*CUSTOM BORDER TABLE*/
.custom-border{
	border: 0.1em solid #cacccc;
	border-radius: 4px
}

.leaflet-container {
  height: 400px;
  width: 100%;
}


/*CUSTOM PLACEHOLDER*/

/* Chrome/Opera/Safari */
.values ::-webkit-input-placeholder { 
  text-align: right;
}

/* Firefox 19+ */
.values ::-moz-placeholder { 
  text-align: right;
}

/* IE 10+ */
.values :-ms-input-placeholder { 
  text-align: right;
}
/* Firefox 18- */
.values :-moz-placeholder { 
  text-align: right;
}
